<!DOCTYPE html>
<html>
    <head th:replace="~{layout/plantilla :: head}">
        <title>Etrial</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <section th:fragment="botonesAgregar" class="py-4 mb-4 bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-3" sec:authorize="hasRole('ROLE_ADMIN')">   
                        <button 
                            type="button" 
                            class="btn btn-primary btn-block" 
                            data-bs-toggle="modal" 
                            data-bs-target="#agregarEvento">
                            <i class="fas fa-plus"></i> [[#{accion.agregar}]]
                        </button>
                    </div>
                </div>
            </div>
        </section>

        <section th:fragment="listadoEventos" id="listaEventos">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <div class="card">
                            <div class="card-header">
                                <h4>[[#{evento.titulo}]]</h4>
                            </div>
                            <div th:if="${listaEventos != null and !listaEventos.empty}">
                                <table class="table table-stryped">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>#</th>
                                            <th th:text="#{evento.nombre}">Nombre</th>
                                            <th>Descripción</th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="evento, contador: ${listaEventos}">
                                            <td>[[${contador.count}]]</td>
                                            <td>[[${evento.nombre}]]</td>
                                            <td>[[${evento.descripcion}]]</td>
                                            <td>
                                                <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/evento/eliminar/}+${evento.idEvento}"
                                                   class="btn btn-danger">
                                                    <i class="fas fa-angle-double-right"></i> [[#{accion.eliminar}]]
                                                </a>
                                            </td>
                                            <td>
                                                <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/evento/modificar/}+${evento.idEvento}"
                                                   class="btn btn-success">
                                                    <i class="fas fa-angle-double-right"></i> [[#{accion.actualizar}]]
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-center p-2" th:if="${listaEventos == null or listaEventos.empty}">
                                <span th:text="#{evento.no_mostrar}">Lista vacía</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section th:fragment="agregarEvento">
            <div id="agregarEvento" class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header bg-info text-white">
                            <h5 class="modal-title" th:text="#{accion.agregar}">Agregar Evento</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div> 
                        <form th:action="@{/evento/guardar}" th:object="${evento}"
                              method="POST" class="was-validated">
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="nombre" th:text="#{evento.nombre}">Nombre</label>
                                    <input type="text" class="form-control" name="nombre" required="true">
                                </div>
                                <div class="form-group">
                                    <label for="lugar" th:text="#{evento.lugar}">Lugar</label>
                                    <input type="text" class="form-control" name="lugar" required="true">
                                </div>
                                <div class="form-group">
                                    <label for="descripcion" th:text="#{evento.descripcion}">Descripcion</label>
                                    <input type="descripcion" class="form-control" name="descripcion" required="true">
                                </div>
                                <div class="form-group">
                                    <label for="activo">Activo:</label>
                                    <input type="checkbox" id="activo" name="activo" th:field="*{activo}"/>
                                </div>
                                <div class="form-group">
                                    <label for="rutaImagen">Ruta de imagen:</label>
                                    <input type="text" name="rutaImagen" th:field="*{rutaImagen}">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary" type="submit" th:text="#{accion.guardar}">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <section th:fragment="editarEvento">            
            <form method="POST"
                  th:action="@{/evento/guardar}"
                  th:object="${evento}"
                  class="was-validated">
                <input type="hidden" name="idEvento" th:field="*{idEvento}"/>
                <section th:replace="evento/fragmentosEvento :: botonesEditar"/> 
                <div id="details">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="card">
                                    <div class="card-header">
                                        <h4>[[#{accion.actualizar}]]</h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="form-group">
                                            <label for="nombre" th:text="#{evento.nombre}">Nombre</label>
                                            <input type="text" class="form-control" name="nombre" th:field="*{nombre}" required="true">
                                        </div>
                                        <div class="form-group">
                                            <label for="lugar" th:text="#{evento.lugar}">Lugar</label>
                                            <input type="text" class="form-control" name="lugar" th:field="*{lugar}" required="true">
                                        </div>
                                        <div class="form-group">
                                            <label for="descripcion" th:text="#{evento.descripcion}">Descripcion</label>
                                            <input type="text" class="form-control" name="descripcion" th:field="*{descripcion}" required="true">
                                        </div>
                                        <div class="form-group">
                                            <label for="activo">Activo:</label>
                                            <input type="checkbox" id="activo" name="activo" th:field="*{activo}"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="rutaImagen">Ruta de imagen:</label><br/>
                                            <input type="text" class="form-control" name="rutaImagen" th:field="*{rutaImagen}">
                                        </div>                    
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </section>

        <section th:fragment="botonesEditar">
            <div id="actions" class="py-4 mb-4 bg-light">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <a th:href="@{/evento/listado}" class="btn btn-ligth btn-block">
                                <i class="fas fa-arrow-left"></i> [[#{accion.regresar}]]
                            </a>
                        </div>
                        <div class="col-md-3">
                            <button type="submit" class="btn btn-success btn-block">
                                <i class="fas fa-check"></i> [[#{accion.guardar}]]
                            </button>
                        </div>
                        <div class="col-md-3">
                            <a th:href="@{/evento/eliminar/}+${evento.idEvento}"
                               class="btn btn-danger btn-block">
                                <i class="fas fa-trash"></i> [[#{accion.eliminar}]]
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
